.player__board {
  // margin-top: 50px;
  margin-left: 30px;
  height: 100%;
  width: 180px;
  .player__number {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 10px 8px;
    margin-bottom: 10px;
    box-shadow: 0 3px 36px rgba(2, 2, 2, 0.1), 0 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    span {
      justify-self: center;
    }
  }
  .player__list {
    margin-bottom: 10px;
    .player__element {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0 3px 36px rgba(2, 2, 2, 0.1), 0 5px 15px rgba(0, 0, 0, 0.7);
      margin-bottom: 10px;
      span {
        padding: 10px 5px;
        text-align: center;
      }
    }
  }
}
